@import url('./app/dist/common/css/Calendar.module.css');
@import url('./app/dist/common/css/CalendarDay.module.css');
@import url('./app/dist/common/css/MonthName.module.css');


:root {
    --base_white: #FAFAFA;
    --calendar_blue: #badcfd;
    --base_black: rgb(26, 25, 25);
}
