@import url('./app/dist/Components/CalendarDay/CalendarDay.module.css');
@import url('./app/dist/Components/Calendar/Calendar.module.css');

:root {
    --base_white: #FAFAFA;
    --calendar_blue: #badcfd;
    --base_black: rgb(26, 25, 25);
}
